$block: #111
$color: white

.message
    padding: .6em
    background-color: $block
    width: 100%
    display: flex
    align-items: center
    color: $color
    & > button
        background: none
    & > svg, > button > svg
        font-size: 1.8em
        margin: 0.1em
    & > textarea
        max-height: 250px
        resize: none
        width: 100%
        font-size: 0.9em
        margin: 0 .7em
        scrollbar-width: none        
